.Title{
    justify-content: space-between;
    display: flex;
}
.menu{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo{
    flex: 1rem;
    margin-left: 2rem;
}

.menu>ul {
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: space-between;
}
.menu> ul> li:hover{
    cursor: pointer;
    color: rgb(24, 157, 218);

}