.gmain {
  margin: 2rem;
  margin-left: 5rem;
  margin-right: 25px;
  height: 450px;
  width: 90%;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
}
.gright {
  margin: 7rem;
  margin-top: 2rem;
  margin-left: 60rem;
  margin-right: 5rem;
  align-items: center;
  height: 375px;
  border-top: 20rem;
  border-radius: 2%;
  text-align: center;
  background-color: #c6a969;
}
.gbut{
  position: relative;
    color: white;
    background-color: #C6A969;
    border-color: white;

}